{% extends 'dashbord.html' %}

{% block content %}
<div class='container'>
	<div class='row'>
		<div class='col-md-2'></div>
		<div class='col-md-8 mt-5'>
			<div class="card p-3">
				<form method='post' class='post-form' action="passupdate/{{ user.id }}" enctype="multipart/form-data">
					{% csrf_token %}
					<div class="row">
						<div class="col-md-4"></div>
						<div class="col-md-4">
							<h3 class="text-primary">Reset Password</h3>
						</div>
						<div class="col-md-4"></div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<label>Username</label>
							<input type="text" name="username" value="{{ user.username }}" class='form-control'>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<label>Password</label>
							<input type="password" name="password" class='form-control'>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<label>Confirm Password</label>
							<input type="password" name="cpassword" class='form-control'>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4"></div>
						<div class="col-md-4 mt-3">
							<button type='submit' class='btn btn-outline-primary rounded-pill w-100'>Update</button>
						</div>
						<div class="col-md-4"></div>
					</div>
				</form>
			</div>
		</div>
		<div class='col-md-2'></div>
	</div>
</div>
{% endblock %}